@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Open+Sans:wght@300&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  padding: 1em;
  background: #000;
  color: #eee;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

/* preload images https://stackoverflow.com/a/14390213/6243352 */
body::after {
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
  z-index: -1; 
  content: 
    url("assets/images/floor.png")
    url("assets/images/wall.png")
    url("assets/images/goal.png")
    url("assets/images/box.png")
    url("assets/images/box_on_goal.png")
    url("assets/images/player.png")
    url("assets/images/player_on_goal.png");
}

img {
  max-width: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:active {
  text-shadow:
    /* inner glow */
    0 0 7px #fff,
    0 0 17px #fff,
    /* outer glow */
    0 0 32px #00f,
    0 0 42px #00f,
    0 0 82px #00f,
    0 0 182px #00f;
}

button {
  background: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 0.8em;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
button[disabled] {
  cursor: default;
  color: #999;
}

#app {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu {
}
#menu h1 {
  cursor: default;
  margin-bottom: 0.1em;
  font-size: 82pt;
  font-weight: 400;
  text-align: center;
  font-family: "Neonderthaw", cursive;
  text-shadow:
    /* inner glow */
    0 0 7px #fff,
    0 0 17px #fff,
    /* outer glow */
    0 0 32px #f0f,
    0 0 42px #f0f,
    0 0 82px #f0f,
    0 0 182px #f0f;
}
#menu .attribution {
  text-align: right;
  padding: 1em;
  color: #bbb;
  font-size: 12pt;
}
#menu ul {
  font-size: 15pt;
  max-width: 600px;
  max-height: 100%;
  list-style-type: none;
}
#menu li a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
#menu li a span:first-child {
  color: #aaa;
}
#menu li a span {
  width: 120px;
}
#menu li a span {
  padding: 0.3em;
}

#game {
  flex-direction: column;
  align-items: center;
}

#status {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#controls {
  margin-bottom: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#controls button {
  margin: 0.3em;
  padding: 0.6em;
}
#controls button:hover {
  text-shadow:
    /* inner glow */
    0 0 7px #fff,
    0 0 17px #fff,
    /* outer glow */
    0 0 32px #f0f,
    0 0 42px #f0f,
    0 0 82px #f0f,
    0 0 182px #f0f;
}
#controls button[disabled]:hover {
  text-shadow: 0 0 0 #000;
}

#board {
  margin: 0 auto;
}
#board table {
  border-collapse: collapse;
  margin: auto;
}
#board .cell {
  cursor: pointer;
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  image-rendering: pixelated;
}
#board .floor {
  background: url("assets/images/floor.png") ;
}
#board .floor-outside {
  background: transparent;
  cursor: default;
}
#board .wall {
  background: url("assets/images/wall.png");
  cursor: default;
}
#board .goal {
  background: url("assets/images/goal.png");
}
#board .box {
  background: url("assets/images/box.png");
}
#board .box-on-goal {
  background: url("assets/images/box_on_goal.png");
}
#board .player {
  background: url("assets/images/player.png");
}
#board .player-on-goal {
  background: url("assets/images/player_on_goal.png");
}
