body {
  margin: 0;
}

main {
  padding: 1em;
}

#board {
  font-family: "consolas", monospace;
  font-size: 20pt;
}
#board table {
  background: url("assets/floor.png") center;
  border-collapse: collapse;
}
#board .cell {
  cursor: pointer;
  max-width: 30px;
  max-height: 30px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}
#board .wall {
  background: url("assets/wall.png") center;
  image-rendering: pixelated;
  /* cursor: default; */
}
#board .box {
  /* background: #ddd; */
  background: url("assets/box.png") center no-repeat;
  image-rendering: pixelated;
}
#board .goal {
  background: url("assets/goal.png") center no-repeat;
  image-rendering: pixelated;
}
#board .box-on-goal {
  background: url("assets/box_on_goal.png") center no-repeat;
  image-rendering: pixelated;
}
#board .player {
  background: url("assets/player.png") center no-repeat;
  image-rendering: pixelated;
}
#board .player-on-goal {
  background: url("assets/player_on_goal.png") center no-repeat;
  image-rendering: pixelated;
}